	form{width:600px; background-color: #f2f2f2; padding:10px; border:2px solid #666; border-radius: 6px }
	input.float{float:left;}
	
	legend{color:#000066; font-size:1.2em;}
	fieldset{margin-bottom:20px;}

	form h2{color:#666; font-size: 1.1em; border-bottom: thin solid #666}	

	form p.button{float:left; padding: 3px;}
	form p.float{float:left; width:100%;}
	form p.float label{width:105px; float:left; text-align: right; margin-right:10px;}
	form p.form-row{margin:4px 0px 8px 0px;}
	form p.indented{margin-left:115px;}
	
	form p.submit-row{margin-top:10px; text-align:center; }
	input.action-button{font-size:1.2em; padding:10px; font-weight:bold; color:#fff; background-color: #000066}
	input.action-button2{font-size:1.2em; padding:10px; font-weight:bold; color:#fff; background-color: #9f9f9f}
	input.action-button3{font-size:.9em; padding:10px; font-weight:bold; color:#fff; background-color: #9f9f9f}

	table, th, td {
    	border: 1px solid black;
    	border-collapse: collapse;
    	text-align: center;
    }
    td {
    	padding: 5px;
	}